<%
  title = "sign into we use rails"
  description = "Sign into We Use Rails to submit your Rails web apps, upvote your favorites, and discover new web apps built with Ruby on Rails."

  set_meta_tags(
    title: title,
    description: description,
    og: {
      title: title,
      description: description,
    },
    twitter: {
      title: title,
      description: description,
    }
  )
%>

<% unless turnstile_allowed? %>
  <%= content_for :head do %>
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
  <% end %>
<% end %>

<article class="article">
  <%= render "shared/flashes" %>

  <header>
    <h1><%= title %></h1>
    <%= google_sign_in_button(
      'sign in with google',
      proceed_to: sign_in_google_url,
      data: { turbo: false },
      class: "mt-2"
    ) %>
    <p><small>or, use your email address</small></p>
  </header>

  <section>
    <h2>sign in with email</h2>

    <%= form_with(url: session_url, class: "mt-2 form") do |form| %>
      <div class="form-row">
        <label for="email_address">email:</label>
        <%= form.email_field :email_address, id: "email_address", required: true, autocomplete: "username", value: params[:email_address] %>
      </div>

      <div class="form-row">
        <label for="password">password:</label>
        <%= form.password_field :password, id: "password", required: true, maxlength: 72, autocomplete: "current-password" %>
      </div>

      <div class="form-row">
        <div></div>
        <div class="cf-turnstile mt-2" data-sitekey="<%= ENV["TURNSTILE_SITE_KEY"] %>"></div>
      </div>

      <div class="mt-1">
        <%= form.submit "sign in" %>
      </div>
    <% end %>

    <div class="mt-2">
      <div>don't have an account? <%= link_to "sign up", new_registration_path, class: "no-visited" %></div>
      <div><%= link_to "forgot password?", new_password_path, class: "no-visited" %></div>
    </div>

    <p>
      <small>
        by continuing, you agree to our
        <%= link_to "terms of service", terms_path, class: "no-visited" %>
        and
        <%= link_to "privacy policy", privacy_path, class: "no-visited" %>
      </small>
    </p>
  </section>
</article>
