<%
  title = "my submissions"

  set_meta_tags(
    title: title,
  )
%>

<article class="article">
  <header>
    <%= render "shared/flashes" %>
    <h1><%= title %></h1>
  </header>

  <section>
    <% if @sites.any? %>
      <ul class="site-list">
        <% @sites.each do |site| %>
          <li><%= render "shared/web_app", site: site %></li>
        <% end %>
      </ul>
    <% else %>
      <p class="no-data">you haven't submitted any web apps yet</p>
    <% end %>
  </section>

  <div class="mt-2 pagination">
    <% if @prev_page %>
      <%= link_to "◂ prev", sites_path(page: @current_page - 1), class: "no-visited" %>
    <% end %>
    <% if @next_page %>
      <%= link_to "next ▸", sites_path(page: @current_page + 1), class: "no-visited" %>
    <% end %>
  </div>
</article>

