<footer>
  <div class="footer-links">
    <%= link_to "about", about_path %>
    <%= link_to "faq", faq_path %>
    <%= link_to "disclaimer", disclaimer_path %>
    <%= link_to "terms", terms_path %>
    <%= link_to "privacy", privacy_path %>
  </div>

  <p>
    social: <a href="https://x.com/weuserails">x</a> &middot; <a href="https://bsky.app/profile/weuserails.com">bsky</a> |
    by: <a href="https://kyrylo.org">kyrylo</a> ~ <a href="https://x.com/kyrylo">x</a> &middot; <a href="https://bsky.app/profile/kyrylo.org">bsky</a> &middot; <a href="https://mastodon.social/@kyrylosilin">mastodon</a>
  </p>

  <p class="mt-1">
    this is open source software:

    <div class="inline-flex gap-1">
      <a href="https://github.com/kyrylo/weuserails.com" class="font-bold">github</a>
    </div>
  </p>

  <p class="mt-1">
    sponsor:

    <div class="inline-flex gap-1">
      <%= image_tag "telebugs.svg", width: 18, height: 18 %>
      <a href="https://telebugs.com" class="font-bold">telebugs - track errors in your rails web apps</a>
    </div>
  </p>

  <div class="mt-2">
    <h2>more from me:</h2>

    <nav>
      <ul>
        <li>
          <a href="https://dockernamegenerator.com" target="_blank">docker name generator</a>
        </li>
        <li>
          <a href="https://techdebtgame.com" target="_blank">tech debt</a>
        </li>
        <li>
          <%= link_to "f**k this page", "https://fuckthispage.com", target: :_blank %>
        </li>
        <li>
          <%= link_to "the html maze", "https://htmlmaze.com", target: :_blank %>
        </li>
        <li>
          <%= link_to "flag match", "https://flagmatch.com", target: :_blank %>
        </li>
        <li>
          <%= link_to "the em dash", "https://the-em-dash.com", target: :_blank %>
        </li>
        <li>
          <%= link_to "just **** use html", "https://justfuckingusehtml.com", target: :_blank %>
        </li>
        <li>
          <%= link_to "coffee world rush", "https://coffeeworldrush.com", target: :_blank %>
        </li>
        <li>
          <%= link_to "emojiwhat", "https://emojiwhat.com", target: :_blank %>
        </li>
      </ul>
    </nav>
  </div>

  <p class="mt-1">
    Discover web apps built with Ruby on Rails.<br>&copy; 2024-<%= Time.current.year %> We Use Rails.
  </p>
</footer>
