<header>
  <div class="navbar">
    <div class="navbar__links">
      <%= link_to root_path, class: "navbar__logo navbar__link" do %>
        <%= image_tag "logo.svg", width: 18, height: 18, alt: "We Use Rails logo" %>
        <% if current_page?(root_path) %>
          <h1>We Use Rails</h1>
        <% else %>
          We Use Rails
        <% end %>
      <% end %>

      <ul>
        <li class="<%= 'active' if current_page?(ruby_on_rails_websites_path) %>">
          <%= link_to_unless_current "technologies", ruby_on_rails_websites_path, class: "navbar__link" %>
        </li>

        <li class="<%= 'active' if current_page?(categories_path) %>">
          <%= link_to_unless_current "categories", categories_path, class: "navbar__link" %>
        </li>

        <li class="<%= 'active' if current_page?(search_path) %>">
          <%= link_to_unless_current "search", search_path, class: "navbar__link" %>
        </li>

        <% if authenticated? %>
          <li class="<%= 'active' if current_page?(new_site_path) %>">
            <%= link_to_unless_current "submit", new_site_path, class: "navbar__submit-link" %>
          </li>
        <% else %>
          <li class="<%= 'active' if current_page?(new_session_path) %>">
            <%= link_to_unless_current "submit", new_session_path, class: "navbar__submit-link" %>
          </li>
        <% end %>
      </ul>
    </div>

    <% if authenticated? %>
      <div class="profile">
        <span class="<%= 'active' if current_page?(profile_path) %>">
          <%= link_to_unless_current Current.user.email_address, profile_path %>
        </span>
        |
        <%= button_to(
          "sign out",
          session_path,
          method: :delete,
          data: { turbo_confirm: "Sign out?" },
          class: "sign-out-link",
        ) %>
      </div>
    <% else %>
      <span class="<%= 'active' if current_page?(new_session_path) %>">
        <%= link_to_unless_current "sign in", new_session_path %>
      </span>
    <% end %>
  </div>
</header>
